* {
    box-sizing: border-box;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(250, 250, 250);
}

.instagram-logo {
    width: 175px;
    height: 53px;
    margin: 40px 0 20px 85px;
}

.fb-logo {
    width: 15px;
    height: 15px;
}

.app-store-logo {
    width: 135px;
    height: 40px;
    margin-right: 5px;
}

.google-play-logo {
    width: 135px;
    height: 40px;
    margin-left: 5px;
}

.box-1 {
    padding-top: 10px;
    height: 400px;
    width: 350px;
    border: 1px solid rgb(219, 219, 219);
    background-color: rgb(255, 255, 255);
}

.box-2 {
    height: 63px;
    width: 350px;
    border: 1px solid rgb(219, 219, 219);
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px 0;
}

.input-box {
    background-color: rgb(250, 250, 250);
    font-weight: 400;
    line-height: 18px;
    font-size: 13px;
    padding: 2px 0 7px 8px;
    height: 36px;
    width: 250px;
    border: 1px solid rgb(219, 219, 219);
    margin: 3px 0;
    outline: none;
}

.login-button {
    background-color: rgb(0, 149, 246);
    color: white;
    font-weight: 600;
    line-height: 18px;
    font-size: 14px;
    padding: 9px 0 7px 8px;
    height: 36px;
    width: 250px;
    border: 1px solid rgb(219, 219, 219);
    margin: 10px 0;
    outline: none;
    cursor: pointer;
    border-radius: 9px;
}

.limes-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: 100%;
    height: 10px;
    font-size: 13px;
    color: rgb(142, 142, 142);
    font-weight: bold;
}

.line-1 {
    width: 100px;
    height: 1px;
    background-color: rgb(219, 219, 219);
    margin-right: 5px;
    margin-left: 48px;
}

.line-2 {
    width: 100px;
    height: 2px;
    background-color: rgb(219, 219, 219);
    margin-left: 200px;
}

.fb-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    width: 100%;
    height: 10px;
    font-size: 13px;
    color: rgb(142, 142, 142);
    font-weight: bold;
    gap: 8px;
}

.or-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 80px;
    margin-top: 20px;
    width: 100%;
    height: 3px;
    font-size: 12px;
    color: rgb(142, 142, 142);
    font-weight: 600;
    gap: 8px;
}

.sign-up-span {
    color: rgb(0, 149, 246);
    font-weight: 600;
    margin: 10px 0;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    margin-left: 3px;
}

.log-fb {
    color: rgb(8, 77, 123);
}

.fb-link {
    color: rgb(8, 77, 123);
    text-decoration: none;
}

.instruction {
    color: rgb(142, 142, 142);
    font-size: 12px;
    margin: 10px 0;
    padding: 5px 37px 7px 37px;
}

.box-3 {
    padding-top: 5px;
    height: 550px;
    width: 350px;
    border: 1px solid rgb(219, 219, 219);
    background-color: rgb(255, 255, 255);
}

.account {
    font-size: 14px;
    font-weight: 300;
    color: rgb(62, 57, 57);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    background-color: #ffffff;
    color: #8e8e8e;
    font-size: 12px;
    text-align: center;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.footer-links a {
    color: #8e8e8e;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    gap: 15px;
}

.forgotten-password-link {
    font-size: 15px;
}

.app-store-google-play-box {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
