@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-base: "Lato", serif;
    --color-pink: #d000be;
    --color-orange: #fe3e34;
    --color-yellow: #fdc700;
    --color-blue: #06c;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: var(--font-base);
}
